<extend name="Public/base"  />

<block name="adminContent">
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="panel admin-panel">
                <div class="panel-head"><strong class="icon-reorder"> 最新列表</strong></div>
                <div class="padding border-bottom">
                    <button type="button" class="button border-yellow" ><span class="icon-plus-square-o"></span> 全部审核通过</button>
                </div>
                <div id="load">
                    <table class="table table-hover">
                        <tr>
                            <th width="10%">申请ID</th>
                            <th width="20%">卡ID</th>
                            <th width="15%">转入数额(元)</th>
                            <th width="20%">定期时间(月)</th>
                            <th width="10%">申请时间</th>
                            <th width="15%">操作</th>
                        </tr>
                        <foreach name="item1" item="tc">
                            <tr>
                                <td>{$tc.id}</td>
                                <td>{$tc.c_id}</td>
                                <td>{$tc.num}</td>
                                <td>{$tc.duration}</td>
                                <td>{$tc.apply_time}</td>
                                <td><div class="button-group">
                                    <a class="button border-main" onclick="return pass({$tc.id})"><span class="icon-edit"></span> 审核通过</a>
                                    <a class="button border-red" onclick="return dispass({$tc.id})"><span class="icon-edit"></span> 审核拒绝</a>
                                </div>
                                </td>
                            </tr>
                        </foreach>

                    </table>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="AddScript">
    <script language="JavaScript">
        function pass(mid){
            if(confirm("您确定审核通过吗？"))
            {
                $.ajax({
                    url: /ImportIn/,
                    type:"get",
                    data:{

                    },
                    headers:{
                        "Authorization": "Bearer " + token
                    },
                    beforeSend: function () {
                        layIndex = layer.msg("加载中...", { icon: 16, shade: 0.01 });
                    },
                    complete: function () {
                        layer.close(layIndex);
                    },
                    success: function (res) {
                        if (res.Success) {
                            layer.msg('加载成功', {
                                closeBtn: 0
                            }, function () {
                                layer.close(layer.index);
                                formatData(res.Data);
                                console.log(res.Data);
                            });

                        } else {
                            layer.alert(res.Message, { icon: 5 });
                        }
                    },
                    error: function (res) {
                        layer.alert("发生未知错误，请联系管理员", { icon: 5 });
                    }
                });
            }
        }

        function dispass(mid){
            if(confirm("您确定拒绝该审核吗？"))
            {

                alert("fuck");
            }
        }
    </script>
</block>